

.commentContainer {
    padding: 12px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.titleCommentArea {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}